/*
 This code, and its usage is subject to the sole authorization of IOT Tech.
*/
/* 
    Created on : 29-May-2018, 21:36:56
    Author     : ae
*/

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatar-login {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}