

div.sticky_top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
div.sticky_top_menu {
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
    z-index: 1;
}

.sticky_bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom:  0;
    z-index: 1;
}

div.sticky_bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom:  0;
    z-index: 1;
}
button.sticky_bottom_lhs {
    position: -webkit-sticky;
    position: sticky;
    
    bottom:  20px;
    left:  10px;
    padding: 10px;
    z-index: 1;
}
button.sticky_bottom_rhs {
    position: -webkit-sticky;
    position: sticky;
    
    bottom:  20px;
    left:  100%;
    padding: 10px;
    z-index: 1;
}