
 /*https://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/
 /*Up to tablet size*/
@media screen and (min-width: 320px ) and ( max-width: 910px )  {
				.vid_mobile {
					width: 150px;
				}
				.img_mobile2 {
					visibility: hidden;
					clear: both;
					float: left;
					margin: 10px auto 5px 20px;
					width: 28%;
					display: none;
				}
				.img_blank, .blankMe {
					visibility: hidden;
					display: none;
				}
				.menuMobile {
					display: block;
					width: 100%;


				}
				.textMobile {
					font-size: 16px;
				}
				.textMobile16 {
					font-size: 16px;
				}
			}
			

