
@media screen and (max-width: 600px) {
				.vid_mobile {
					width: 150px;
				}
				.img_mobile {
					visibility: hidden;
					clear: both;
					float: left;
					margin: 10px auto 5px 20px;
					width: 28%;
					display: none;
				}
			}
			
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    /*background-image: url("../../media/background/background-girl.jpg");*/

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
  /*height: 10%;*/
  width: 80%;
  opacity: .9
}

