/*
 This code, and its usage is subject to the sole authorization of IOT Tech.
*/
/* 
    Created on : 01-Jun-2018, 18:28:20
    Author     : ae
*/
/*
#brandingHeader {
	position: absolute;
	width:  100%;
}

#welcomeCard {
	top:10px;
	position: absolute;
	z-index: 1;
}*/

