<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>example</display-name>
    <mime-mapping>
        <extension>wasm</extension>
        <mime-type>application/wasm</mime-type>
    </mime-mapping>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>servlets.Test</servlet-class>
    </servlet>
    <!--Mail-->
    <servlet>
        <servlet-name>PatronValidation</servlet-name>
        <servlet-class>servlet.PatronValidation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatronValidation</servlet-name>
        <url-pattern>/PatronValidation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PatronPasswordReset</servlet-name>
        <servlet-class>servlet.PatronPasswordReset</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatronPasswordReset</servlet-name>
        <url-pattern>/PatronPasswordReset</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BusinessRequest</servlet-name>
        <servlet-class>servlet.BusinessRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessRequest</servlet-name>
        <url-pattern>/BusinessRequest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BusinessRequestRejected</servlet-name>
        <servlet-class>servlet.BusinessRequestRejected</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessRequestRejected</servlet-name>
        <url-pattern>/BusinessRequestRejected</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BusinessRequestAccept</servlet-name>
        <servlet-class>servlet.BusinessRequestAccept</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessRequestAccept</servlet-name>
        <url-pattern>/BusinessRequestAccept</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadBranding</servlet-name>
        <servlet-class>servlet.UploadBranding</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadBranding</servlet-name>
        <url-pattern>/UploadBranding</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadUsers</servlet-name>
        <servlet-class>servlet.UploadUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadUsers</servlet-name>
        <url-pattern>/UploadUsers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadResources</servlet-name>
        <servlet-class>servlet.UploadResources</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadResources</servlet-name>
        <url-pattern>/UploadResources</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>servlet.UploadFileImages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <!-- UploadQRCode -->
    <servlet>
        <servlet-name>UploadQRCode</servlet-name>
        <servlet-class>servlet.UploadQRCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadQRCode</servlet-name>
        <url-pattern>/UploadQRCode</url-pattern>
    </servlet-mapping>
    <!--Billing-->
    <servlet>
        <servlet-name>CustomerId</servlet-name>
        <servlet-class>stripe.CustomerId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerId</servlet-name>
        <url-pattern>/CustomerId</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaymentByCustomerId</servlet-name>
        <servlet-class>stripe.PaymentByCustomerId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentByCustomerId</servlet-name>
        <url-pattern>/PaymentByCustomerId</url-pattern>
    </servlet-mapping>
    <!--    <servlet>
        <servlet-name>StripeAccount</servlet-name>
        <servlet-class>stripe.connect.account.AccountCreate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StripeAccount</servlet-name>
        <url-pattern>/StripeAccount</url-pattern>
    </servlet-mapping>-->
    <!--Secuirity-->
    <servlet-name>Authenticate</servlet-name>
    <!--Secuirity-->
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>servlet.Authenticate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Mailer</servlet-name>
        <servlet-class>servlet.Mailer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropsReader</servlet-name>
        <servlet-class>servlet.PropsReader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailRegistrationConfirmationUx</servlet-name>
        <servlet-class>uxmail.MailRegistrationConfirmationOrgUx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mailer</servlet-name>
        <url-pattern>/Mailer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropsReader</servlet-name>
        <url-pattern>/PropsReader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailRegistrationConfirmationUx</servlet-name>
        <url-pattern>/MailRegistrationConfirmationUx</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Files</servlet-name>
        <servlet-class>servlet.Files</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Files</servlet-name>
        <url-pattern>/Files</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

<!--    <servlet>-->
<!--        <servlet-name>default</servlet-name>-->
<!--        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>-->
<!--        <init-param>-->
<!--            <param-name>debug</param-name>-->
<!--            <param-value>0</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>listings</param-name>-->
<!--            <param-value>true</param-value>-->
<!--        </init-param>-->
<!--        <load-on-startup>1</load-on-startup>-->
<!--    </servlet>-->
</web-app>
